.home_tabs{
    background: transparent;
}

.current{
    background: #eee;
}

.current a{
    text-decoration: none;
}

.header{
    font: 13px Helvetica, Arial, sans-serif;
    color: #fff;
    background: url(/images/header-background.jpg);
    overflow: hidden;
}

.yield_content{
    padding:10px;
}

.footer{
    background: url(/images/header-background.jpg);
    padding-top:10px;
    color: #fff;
}

.footer_links{
    width:150px;
    float:left;
    margin-left: 50px;
}

.footer_links li{
    list-style: none;
    padding: 3px;
}

.footer_links a{
    text-decoration: none;
    color:#7bf;
}

.footer_links a:hover{
    color:#7b7b7b;
}

.dashboard{
    list-style: none;
}

.dashboard li{
    padding:5px;
    width:100px;
    height:50px;
    margin: 5px;
    float:left;
    text-align: center;
    background-color: #dedede;
    line-height: 50px;
}

.dashboard a{
    color:#205791;
    font-weight: bold;
    text-decoration: none;
}

.dashboard a:hover{
    color:#50506d;
}

.post{
    border-left: 1px dotted #eee;
    border-top: 1px dotted #eee;
    padding: 5px;
}

.post_heading{
    padding:5px;
}

.post_title{
    font: 24px 'Cabin', sans-serif;
}

.post_title a{
    text-decoration:none;
}

.post_title a:hover{
    color: #7b7b7b;
}

.post_summary{        
    padding:20px 20px 20px 2px;
    font: 14px 'Cabin', sans-serif;
}

.post_content{
    font: 13px Helvetica, Arial, sans-serif;
    color: #7B7B7B;
    padding:5px;
}

.post_content img{
    border: 6px solid #ccc;
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post_time{
    float: right;
    font-weight: bold;
}

.view_posts_header{
    background: url(/images/side-header.png) no-repeat;
    height: 54px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.view_posts_body{
    color: #000;
    padding: 4px;
}

.view_posts_body li{
    list-style: none;
    padding: 5px;
}

.view_posts_body a{
    text-decoration: none;
}

.view_posts_body a:hover{
    color: #7b7b7b;
}

.recent_posts_header{
    background: url(/images/side-header.png) no-repeat;
    height: 54px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.recent_posts_body{
    color: #000;
    padding: 4px;
}

.recent_posts_body li{
    list-style: none;
    padding: 5px;
}

.recent_posts_body a{
    text-decoration: none;
}

.recent_posts_body a:hover{
    color: #7b7b7b;
}

.archive{
    background: url(/images/side-header.png) no-repeat;
    height: 54px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.archive_posts_body li{
    list-style: none;
    padding: 5px;
}

.archive_posts_body{
    color: #000;
    padding: 4px;
}

.archive_posts_body a{
    text-decoration: none;
}

.archive_posts_body a:hover{
    color: #7b7b7b;
}

.masthead {  
  height:105px;
}

.masthead a{
    color:#7bf;
    padding: 10px;
    text-decoration: none;
}

.masthead a:hover{
    color:#7b7b7b;
}

#logo {
	position:relative;
	top:20px;
	left:20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.redbox {
	background-color:#00CCFF;
}

input.readonly {
	border:none;
}

.spacer {
	background-color:#B51F24;
	height:2px;
	margin-top:20px;
	margin-bottom:20px;
}

.comment { width: 370px; height: 15px; }

.comments_content{
    color: #7B7B7B;
}

.comment_link{
    padding: 5px;
}

.stockchart {
	height:80px;
	width:450px;
	border-width:2px;
	border-color:black;
	border-style:dotted;
}

.statchart {
	height:250px;
	width:620px;
	border-width:1px;
	border-color:black;
	border-style:dotted;
}

.tooltip {
	background-color:lightblue;
	border-width:1px;
	border-color:black;	
	border-style:solid;	
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(../images/up_arrow.gif);
}

th .desc {
  background-image: url(../images/down_arrow.gif);
}

.field_error {
	border:solid red;
}

div.heading {
	padding:0.4em;
	margin-bottom:0.4em;
	border:2px solid black;
	border-top-style:none;
	border-right-style:none;
	border-left-style:solid;
	border-bottom-style:solid;
	font-size:110%;
  color: #fff;
  background: #B51E24;
	
}

input.simple {
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:solid;
	margin:0px;
	padding:0px;
	padding-top:4px;
	font-size:16px;
}

.menu-button {
	width:81px;
}

.menu-icon {
	width:100%;
	margin-left:7px;
}

.menu-text {
	text-align:center;
	width:100%;
}

.menu-color {
	background: #B51E24;
	border: 5px ridge #B51E24;
	color: #fff;
}

table.form tbody tr:nth-child(even) td, tbody tr.even td {background:#fff;}
table.form tbody td {font-size:120%;font-weight:normal;}

.first-row {
	padding:5px 0 5px 5px;
	background: url(../images/library_bg.jpg);
	font-size:12px;
}

.card_search_planbox {
  height: 150px;
  margin: auto;
  display:block;
  text-decoration: none;
  background: #eee;
  padding: 10px;
}

.activity_links a{
  text-decoration: none;
  text-align: center;
  background: #175E9D;
  padding: 1px;
  color: #fff;
  border: 1px outset grey;
}

#center-container {
    width:600px;
    left:200px;
    color:#ccc;
}

.ribbon {
  background: url(/images/ribbon.png) no-repeat;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  height: 60px;
  line-height: 30px;
  left: -15px;
  width: 241px;
  top: 0;
  text-shadow: #666 1px 1px 2px;
  padding: 0 0 0 20px;
  z-index: 3;
  position: relative;
}