body{
	font-family: arial,verdana,helvetica,tahoma,Sans-serif;
}

.container{
	text-shadow: #666 0px 0px 1px;	
}

.home_tabs{
    background: transparent;
}

.current{
    background: #bbb;
}

.current a{
    text-decoration: none;
}

.header{
    font: normal normal 12px 'Terminal Dosis Light', arial, serif;
    background-color: rgb(221, 211, 158);
    color: #fff;
}

.yield_content{
    padding:10px;
}

.footer{
    background: url(/images/header-background.jpg);
    padding:10px;
    color: #fff;
}

.footer_links{
  float: left;
}

.footer_links a{
    text-decoration: none;
    color:#888;
    padding: 10px;
}

.footer_links a:hover{
    color: #ccc;
}

.dashboard{
    list-style: none;
}

.dashboard li{
    width: 100px;
    height:50px;
    margin: 5px;
    float:left;
    text-align: center;
    background-color: #dedede;
    line-height: 50px;
}

.dashboard a{
    color:#205791;
    font-weight: bold;
    text-decoration: none;
}

.dashboard a:hover{
    color:#50506d;
}

.post{}

.post_heading{
    padding: 0px;
}

.post h3{
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 7px 0px;
		color: #242424;
		font: 29px 'Terminal Dosis Light', arial, serif;
		text-decoration: none;
		text-align: left;
		line-height: 1.4em;
		border-bottom: 2px solid rgb(188, 213, 134)
}

.post_title a{
		font: 30px 'Terminal Dosis Light GFS', arial, serif;
		color: rgb(6, 19, 39);
    text-decoration: none;
}

.post_title a:hover{
    color: #7b7b7b;
}

.post_summary{        
    font: normal normal 12px 'Terminal Dosis Light', arial, serif;
    height: 20px;
}

.post_content{
    font: normal normal 14px 'Terminal Dosis Light', arial, serif;
}

.post_content img{
    border: 6px solid #ccc;
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post_time{
    float: right;
    font-weight: bold;
}

.view_posts_header{
    height: 20px;
    background-color: #394;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.view_posts_body{
    padding: 4px;
}

.view_posts_body li{
    list-style: none;
    padding: 5px;
}

.view_posts_body a{
    color: #888;
    text-decoration: none;
}

.view_posts_body a:hover{
    color: #ccc;
}

.recent_posts_header{
    height: 20px;
    background-color: #394;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.recent_posts_body{
    padding: 4px;
}

.recent_posts_body li{
    list-style: none;
    padding: 5px;
}

.recent_posts_body a{
    color: #888;
    text-decoration: none;
}

.recent_posts_body a:hover{
    color: #ccc;
}

.archive{
    height: 20px;
    background-color: #394;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.archive_posts_body li{
    list-style: none;
    padding: 5px;
}

.archive_posts_body{
    padding: 4px;
}

.archive_posts_body a{
    color: #888;
    text-decoration: none;
}

.archive_posts_body a:hover{
    color: #ccc;
}

.masthead {  
	font-family: "BentonSans Regular", "Myriad Pro", Myriad, "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #000;
}

.masthead a{
    color: #888;
    padding: 10px;
    text-decoration: none;
}

.masthead a:hover{
    color: #ccc;
}

#logo {
	position:relative;
	top:20px;
	left:20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.redbox {
	background-color:#00CCFF;
}

input.readonly {
	border:none;
}

.spacer {
	background-color:#B51F24;
	height:2px;
	margin-top:20px;
	margin-bottom:20px;
}

.comment { width: 370px; height: 15px; }

.comments_content{
    color: #7B7B7B;
}

.comment_link{
    padding: 0px;
}

.ribbon {
  font: normal normal 11px 'Terminal Dosis Light', arial, serif;text-transform: uppercase;
  text-shadow: #666 1px 1px 2px;
  float: right;
}