<%= javascript_tag :defer => 'defer' do -%>
  $(document).ready(function(){
     $.get('/getAboutContent', function(data){
         $('#about_content_div').html(data);

         return false;
     });
  });
<% end -%>

<h3>ABOUT</h3>
<p id="about_content_div"></p>
