<%= javascript_tag :defer => 'defer' do -%>
  $(document).ready(function(){
     $.get('/getContactContent', function(data){
         $('#contact_content_div').html(data);

         return false;
     });
  });
<% end -%>

<h3>CONTACT</h3>
<p id="contact_content_div"></p>
