<h4>Dashboard</h4>

<% if signed_in? && author_signed_in? %>
  <ul class="dashboard">    
    <%= link_to posts_path  do %>
      <li class="round">POSTS</li>
    <% end -%>

    <%= link_to users_path do %>
      <li class="round">USERS</li>
    <% end -%>

    <%= link_to cms_path do %>
      <li class="round">CMS</li>
    <% end -%>
  </ul>
<% end -%>