<h4>Author's Corner</h4>

<% if signed_in? && author_signed_in? %>
  <ul class="dashboard">
    <%= link_to posts_path  do %>
      <li class="round">Posts</li>
    <% end -%>

    <%= link_to users_path do %>
      <li class="round">Users</li>
    <% end -%>

    <%= link_to cms_path do %>
      <li class="round">Cms</li>
    <% end -%>

    <%= link_to upload_path do %>
      <li class="round">Files Upload</li>
    <% end -%>
  </ul>
<% end -%>