<%= javascript_tag :defer => 'defer' do -%>
  $(document).ready(function(){
     $.get('/getRecentPosts', function(data){
         $('#recent_posts_div').html(data);

         return false;
     });

     $.get('/getArchivePosts', function(data){
         $('#archive_posts_div').html(data);

         return false;
     });

     $.get('/getHomePagePosts', function(data){
         $('#home_page_posts_div').html(data);

         return false;
     });
  });
<% end -%>

<div>
  <div style="width: 400px; float: left">
    <div id="home_page_posts_div"></div>    
  </div>

  <div style="width: 200px; float: right; ">
    <div class="view_posts_header round">
      View
      <br/>
    </div>

    <div class="view_posts_body">
      <% Tab.find(:all, :order => 'ID').each_with_index do |tab, index| %>
        <span id="home_tabs">
          <% if index == 0 %>
            <li class="current">
              <%= link_to tab.name, '', :tab_id => tab.id,
              :id => 'tab_id_' + tab.id.to_s %>
            </li>
          <% else %>
            <li class="home_tabs">
              <%= link_to tab.name, '', :tab_id => tab.id,
              :id => 'tab_id_' + tab.id.to_s %>
            </li>
          <% end -%>
        </span>
      <% end -%>
    </div>

    <div class="recent_posts_header round">
      Recent
      <br/>
    </div>

    <div id="recent_posts_div" class="recent_posts_body"></div>
    <br/>
    
    <div class="archive round">
      Archive
      <br/>
    </div>

    <div id="archive_posts_div" class="archive_posts_body"></div>
    <br/>
  </div>
</div>