<h4>Posts for <%= @posts.first.created_at.strftime('%B %Y') %></h4>

<table>
  <tr>
    <th>Title</th>
    <th>Posted on</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post_path(post.id) %></td>
    <td><%= post.created_at.strftime('%B  %d %Y at %l:%M:%S %P') %></td>
  </tr>
<% end %>
</table>